<div *ngIf="release" id="releases" class="mb-4">
    <h2><i class="fa fa-download pr-3" aria-hidden="true"></i>{{ "DOWNLOADS" | translate }}</h2>
    <hr class="my-2">
    <div class="p-2">
        <p>{{ "DOWNLOADS_DESCRIPTION" | translate:{version: release?.name.substr(1)} }}</p>
        <span *ngFor="let asset of release.assets">
            <a *ngIf="asset.browser_download_url.split('.').pop() === 'exe'"
               class="btn btn-primary mr-2 mb-2"
               [href]="asset.browser_download_url"
               download role="button">
                <i class="fa fa-windows fa-lg pr-2" aria-hidden="true"></i>
                Windows
            </a>
            <a *ngIf="asset.browser_download_url.split('.').pop() === 'dmg'"
               class="btn btn-primary mr-2 mb-2"
               [href]="asset.browser_download_url"
               download role="button">
                <i class="fa fa-apple fa-lg pr-2" aria-hidden="true"></i>
                MacOs
            </a>
            <a *ngIf="asset.browser_download_url.split('.').pop() === 'AppImage'"
               class="btn btn-primary mr-2 mb-2"
               [href]="asset.browser_download_url"
               download role="button">
                <i class="fa fa-linux fa-lg pr-2" aria-hidden="true"></i>
                Linux
            </a>
        </span>
    </div>
</div>
