#download-page {
    #links {
        z-index: 2;
        position: absolute;
        right: 10px;
        top: 10px;

        i {
            color: #4a4b50;
        }
    }

    #content {
        display: table;
        position: absolute;
        text-align: center;
        height: 100%;
        width: 100%;
        color: #67707a;

        >div {
            display: table-cell;
            vertical-align: middle;

            >div {
                padding: 5px;
                margin-left: auto;
                margin-right: auto;

                h1 {
                    margin: 0 0 10px 0;

                    img {
                        position: relative;
                        top: 15px;
                    }

                    span {
                        white-space: nowrap;
                        font-size: 13px;
                        font-style: italic;
                    }
                }

                img {
                    max-width: 100%;
                }

                hr {
                    margin: auto;
                    width: 300px;
                    border: none;
                    height: 1px;
                    background-color: #bfbfbf;
                }

                a {
                    text-decoration: none;
                }

                a > button {
                    margin-top: 20px;
                    position: relative;
                    border-radius: 3px;
                    background-color: #547394;
                    border: none;
                    font-size: 16px;
                    color: #ffffff;
                    padding: 8px;
                    width: 160px;
                    text-align: center;
                    -webkit-transition-duration: 0.4s; /* Safari */
                    transition-duration: 0.4s;
                    text-decoration: none;
                    overflow: hidden;
                    cursor: pointer;
                }
            }
        }
    }
}
