<div id="download-page">
    <header>
        <img src="./assets/logo.png">
    </header>
    <div id="content">
        <h1>{{ title }} <span>({{ status }})</span></h1>
        <img id="map" [src]="mapLink">
        <p>{{ description }}</p>
        <hr>
        <a class="button" *ngFor="let release of releases"
           [href]="downloadLink + version + '/' + release.fileName" download>
            <button [disabled]="!version">{{ release.os }}</button>
        </a>
    </div>
</div>
<footer>
    <a [href]="githubLink" target="_blank">
        <img src="./assets/github.png">
    </a>
</footer>
