<div id="download-page">
    <div id="topleft">
        <img src="./assets/logo.png">
    </div>
    <div id="middle">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <hr>
        <a class="button" *ngFor="let release of releases" [href]="release.link" download>
            <button [disabled]="!release.link">{{ release.os }}</button>
        </a>
    </div>
    <div id="bottomleft">
        <a [href]="github" target="_blank">
            <img src="./assets/github.png">
        </a>
    </div>
</div>
