#download-page {
    background-color: white;
    background-position: center;
    height: 100%;
    background-size: cover;
    position: relative;
    color: #82858d;

    #topleft,  #bottomleft {
        position: absolute;
        left: 16px;
    }

    #topleft {
        top: 10px;
    }

    #bottomleft {
        bottom: 10px;
    }

    #topleft img {
        width: 150px;
    }

    #bottomleft img {
        width: 100px;
    }

    #middle {
        position: absolute;
        top: 200px;
        left: 50%;
        text-align: center;

        div {
            position: relative;
            left: -50%;

            @media only screen and (max-width: 700px) {
                #map {
                    display: none;
                }
            }

            h1 {
                span {
                    font-size: 13px;
                    font-style: italic;
                }
            }

            hr {
                margin: auto;
                width: 80%;
                border: none;
                height: 1px;
                background-color: #bfbfbf;
            }

            a.button {
                text-decoration: none;
            }

            a.button > button {
                margin-top: 20px;
                position: relative;
                border-radius: 3px;
                background-color: #547394;
                border: none;
                font-size: 16px;
                color: #FFFFFF;
                padding: 8px;
                width: 160px;
                text-align: center;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                text-decoration: none;
                overflow: hidden;
                cursor: pointer;
            }
        }
    }
}
