<div id="home">
    <div class="jumbotron text-center">
        <h1 class="display-4">{{ title }}<span>({{ version }}-{{ status | lowercase }})</span></h1>
        <p class="lead">{{ "DESCRIPTION" | translate }}</p>
    </div>
    <div class="container text-center">
        <div id="mmp"></div>
        <div *ngIf="version" class="releases">
            <p>{{ "DOWNLOAD_DESCRIPTION" | translate:{version: version.substr(1)} }}</p>
            <div *ngIf="releases.windows" class="windows">
                <a *ngFor="let arch of releases.windows.architectures" class="btn btn-primary"
                   [href]="getPath(releases.windows.os, arch)" download role="button">
                    <i class="fa fa-windows fa-lg" aria-hidden="true"></i>
                    {{ releases.windows.os }} {{ arch }}
                </a>
            </div>
            <div *ngIf="releases.linux" class="linux">
                <a *ngFor="let arch of releases.linux.architectures" class="btn btn-primary"
                   [href]="getPath(releases.linux.os, arch)" download role="button">
                    <i class="fa fa-linux fa-lg" aria-hidden="true"></i>
                    {{ releases.linux.os }} {{ arch }}
                </a>
            </div>
        </div>
    </div>
</div>
