<div id="map" class="row mb-5">
    <div id="how-it-work" class="col-xl">
        <h2><i class="fa fa-cogs pr-3" aria-hidden="true"></i>{{ "HOW_IT_WORKS.TITLE" | translate }}</h2>
        <hr class="my-2">
        <div class="p-2">
            <p>{{ "HOW_IT_WORKS.DESCRIPTION" | translate }}:</p>
            <ul class="pl-4">
                <li>{{ "HOW_IT_WORKS.COLORS" | translate }}</li>
                <li>{{ "HOW_IT_WORKS.IMAGES" | translate }}</li>
                <li>{{ "HOW_IT_WORKS.NEURAL_BRANCHES" | translate }}</li>
                <li>{{ "HOW_IT_WORKS.HIERARCHICAL_STRUCTURE" | translate }}</li>
                <li>{{ "HOW_IT_WORKS.RADIAL_GEOMETRY" | translate }}</li>
            </ul>
        </div>
    </div>
    <div class="col-xl-7 mx-3">
        <div id="mmp"></div>
        <i (click)="toggleMapLock()" id="lock-unlock-map"
           class="fa fa-{{ locked ? 'lock' : 'unlock' }} fa-lg"
           aria-hidden="true"></i>
        <div [class]="locked ? 'obscure-map' : ''"></div>
        <div id="mmp-commands">
            <i (click)="map.addNode()"
               class="fa fa-plus fa-lg" aria-hidden="true"></i>
            <i (click)="map.removeNode()"
               class="fa fa-minus fa-lg" aria-hidden="true"></i>
            <i (click)="map.zoomIn()"
               class="fa fa-search-plus fa-lg" aria-hidden="true"></i>
            <i (click)="map.zoomOut()"
               class="fa fa-search-minus fa-lg" aria-hidden="true"></i>
            <i (click)="map.center()"
               class="fa fa-arrows fa-lg" aria-hidden="true"></i>
            <i (click)="map.new()"
               class="fa fa-file-o fa-lg" aria-hidden="true"></i>
            <i (click)="map.undo()"
               class="fa fa-undo fa-lg" aria-hidden="true"></i>
            <i (click)="map.redo()"
               class="fa fa-repeat fa-lg" aria-hidden="true"></i>
        </div>
    </div>
</div>
