div#map {
    div#mmp {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 500px;
        width: 100%;
        margin: 0 auto;

        .node {
            pointer-events: none;
        }
    }

    i#lock-unlock-map {
        z-index: 4;
        position: absolute;
        color: #666666;
        user-select: none;
        padding: 5px;
        cursor: pointer;
        top: 5px;
        left: 20px;
    }

    div.obscure-map {
        z-index: 3;
        position: absolute;
        left: 15px;
        top: 0;
        height: 100%;
        width: -webkit-calc(100% - 30px);
        width:    -moz-calc(100% - 30px);
        width:         calc(100% - 30px);
        background-color: #dbdbdb;
        opacity: .4;
    }

    div#mmp-commands {
        position: absolute;
        background-color: white;
        padding: 5px 15px;
        margin-left: 15px;
        cursor: pointer;
        bottom: 0;
        left: 0;

        i {
            padding-right: 5px;
            color: #828282;
            user-select: none;
        }

        i:last-child {
            padding-right: 0;
        }

        i:hover {
            color: #727272;
        }
    }
}
