<div id="info" class="mb-4">
    <h2><i class="fa fa-cogs pr-3" aria-hidden="true"></i>{{ "HOW_IT_WORKS.TITLE" | translate }}</h2>
    <hr class="my-2">
    <div class="p-2">
        <p>{{ "HOW_IT_WORKS.DESCRIPTION" | translate }}:</p>
        <ul class="pl-4">
            <li>{{ "HOW_IT_WORKS.COLORS" | translate }}</li>
            <li>{{ "HOW_IT_WORKS.IMAGES" | translate }}</li>
            <li>{{ "HOW_IT_WORKS.NEURAL_BRANCHES" | translate }}</li>
            <li>{{ "HOW_IT_WORKS.HIERARCHICAL_STRUCTURE" | translate }}</li>
            <li>{{ "HOW_IT_WORKS.RADIAL_GEOMETRY" | translate }}</li>
        </ul>
    </div>
</div>
